<!DOCTYPE html>
<html>

<head>
    <meta name="google-adsense-account" content="ca-pub-3682978423534166">
    <meta name="google-site-verification" content="u2yk-HgOMI-YPCbxdv33Yel2uNSYyvvD8ULhxfc-dKE" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <title>Short URL</title>
    <meta name="description" content="susut.ink is a minimal and powerful URL shortener. Shorten, share, and scale your links with ease." />
    <meta name="keywords" content="URL shortener, short link, link generator, susut, shorten URL, shareable link" />
    <meta name="author" content="Guruh Rachmat" />
    
  
    <!-- Open Graph / Social Media Tags -->
    <meta property="og:title" content="susut.ink - Short it. Share it. Scale it." />
    <meta property="og:description" content="Paste your link to get a clean, shareable short URL." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://susut.ink/" />
    <meta property="og:image" content="https://susut.ink/og-image.jpg" />
  
    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  
    <!-- Canonical -->
    <link rel="canonical" href="https://yourdomain.com/" />
  
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Google adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3682978423534166"
    crossorigin="anonymous"></script>

    <style>
        .trakteer-button-overlay {
            z-index: 9999 !important;
        }
        @media (max-width: 768px) {
            .trbtn {
                margin-top: -20px;
            }
        }
    </style>

</head>

<body class="bg-black min-h-screen font-mono text-neon">

    {{ block "content" . }}{{ end }}


    <script>
        function copyText() {
            const inputElement = document.getElementById("result");
            inputElement.select();
            document.execCommand("copy");
            window.getSelection().removeAllRanges(); // Deselect the text
            alert("Copied the text: " + inputElement.value);
        }
    </script>


    <script type='text/javascript' src='https://edge-cdn.trakteer.id/js/trbtn-overlay.min.js?v=24-01-2025'>

    </script><script type='text/javascript' class='troverlay'>(function() {var trbtnId = trbtnOverlay.init('Buy me kebab 😋','#be1e2d','https://trakteer.id/susut.ink/tip/embed/modal','https://mirror-uploads.trakteer.id/images/units/uic-nSW0C9pXI6Jbbq74TXCrYfoBLFkaq3yi1746502253.png','43','floating-right');trbtnOverlay.draw(trbtnId);})();</script>
  
</body>

</html>